<mat-card>
  <form (submit)="onPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Enter a title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        row="6"
        name="content"
        ngModel
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Enter a content</mat-error>
    </mat-form-field>
    <div class="example-button-row">
      <button mat-raised-button color="primary" type="submit">Post</button
      ><br />
    </div>
  </form>
</mat-card>
